.top-visual {
    position: relative;
    width: 100%;
    height: auto; /* ← 高さを自動調整に */
  }


.bg-image {
  width: 100%;
  height: auto; /* 高さは画像の比率で自動調整 */
}


/* ボタンコンテナ（右上） */
.button-container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 0px;
  z-index: 3;
}



.triangle-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 130px;
  cursor: pointer;
  text-decoration: none;
}



.triangle-button svg path {
  transition: fill 0.3s, stroke 0.3s;
}

.triangle-button:hover svg path {
  fill: #f0e68c;
  stroke: #333;
}

.triangle-text {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
  font-weight: bold;
}


.triangle-button svg {
  width: 100%;
  height: 100%;
  display: block;
}


.text-line {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-family: "SeoulNamsan CL";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 250%; /* 160px */
  
  

  position: absolute;
  top: 0%;     /* 上からの位置を調整 */
  left: 0%;    /* ← 右端に固定 */

  padding: 10px;

  z-index: 2;
}

.line {
  position: absolute;
 width: 100%;
height: 7px;
flex-shrink: 0;
  top: 0;
  left: 0%; 
  z-index: 3;
}

.line path {
  stroke-width: 6px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}

.rules-background {
    position: absolute;
    top: 20%;  /* 中央に配置 */
    left: 50%;
    width: 50%;
height: auto;
flex-shrink: 0;
    background: #D9D9D9; /* 灰色の背景色 */
    border-radius: 52px; /* 角の丸み */
    border: 1px solid black; /* 1pxの実線黒い枠線 */
}


body{
  overflow-x: hidden;
}