
  
  .top-visual {
    position: relative;
    width: 100%;
    height: auto; /* ← 高さを自動調整に */
  }
  
.bg-image {
  width: 100%;
  height: auto; /* 高さは画像の比率で自動調整 */
}


 .overlay-image {
  position: absolute;
  top: 40vh;  /* ← ビューポートの40%下に配置。画面サイズに応じて可変 */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  z-index: 2;
}

  
  

  .logo {
    position: absolute;
    top: 70;  /* 中央に配置 */
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;   /* 適度なサイズ */
    height: auto;
    z-index: 3;     /* 他の画像より前に出す */
  }
  

  /* 背景のグラデーション */
.main-contents {
  position: relative;
  width: 100%;
  min-height: 100%; /* ← ページ全体の高さ */
}



/* ボタンコンテナ（右上） */
.button-container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 0px;
  z-index: 3;
}



.triangle-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 130px;
  cursor: pointer;
  text-decoration: none;
}



.triangle-button svg path {
  transition: fill 0.3s, stroke 0.3s;
}

.triangle-button:hover svg path {
  fill: #f0e68c;
  stroke: #333;
}

.triangle-text {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: black;
  font-weight: bold;
}


.triangle-button svg {
  width: 100%;
  height: 100%;
  display: block;
}



/* スライドショー */
.slide-container {
  position: absolute;
  top: 220px;
  /* bottom: 10px; */
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
}


.slide-wrapper {
  display: flex;
  width: calc(100vw*6);
  animation: slide-flow 35s infinite linear 1.5s both;
  z-index: 1;
}
.slide{
  width: 650px;
  height: 425px;
  object-fit:cover;
    margin-right: 2px; 
  
}

@keyframes slide-flow {
     0% {transform: translateX(0);}
 100% {transform: translateX(-5850px);} 
}



.text-line {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap; /* ← 折り返し禁止！ */

  color: black;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  text-shadow: 8px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 0.3px;  
  -webkit-text-stroke-color: #FFF;

  position: absolute;
  top: 500px;
  right: 200px;

  height: auto;         /* ← 必要に応じて調整 */
  overflow: visible;    /* はみ出し許可（重要） */
  padding: 10px;

  z-index: 3;
}

  

.text-line1 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  white-space: nowrap; /* ← 折り返し禁止！ */

  color: black;
  font-size: 50px;
  font-weight: 400;
  line-height: 70px;
  text-shadow: 8px 3px 3px rgba(0, 0, 0, 0.25);
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: #FFF;

  position: absolute;
  top: 800px;
  right: 300px;

  height: 800px;        /* ← 十分な縦の長さを確保！ */
  overflow: visible;    /* ← はみ出し防止のために visible */

  padding: 10px;
  z-index: 3;
}


.text-line2 {
  text-orientation: upright;
  white-space: pre-wrap;

  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
  
  

  position: absolute;
  top: 1400px;     /* 上からの位置を調整 */
  left: 55px;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.line-curve {
  position: absolute;
  width: 363px;
  height: 12px;
  top: 1500px;
  left: 80px;
  z-index: 3;
}

.line-curve path {
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  fill: none;
}


.text-line3 {
  white-space: pre-wrap;
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  line-height: 1.4; /* ← 行間を詰める（1.0〜1.4がおすすめ） */

  position: absolute;
  top: 1550px;
  left: 50%; /* 中央揃えにするため */
  transform: translateX(-50%); /* 横方向の中央に補正 */
  width: 90%; /* 任意。中央揃えの範囲を調整 */
  
  height: auto;
  overflow-y: auto;
  padding: 10px;
  z-index: 5;
}

.text-line4 {
  text-orientation: upright;
  white-space: pre-wrap;

  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
  
  

  position: absolute;
  top: 1900px;     /* 上からの位置を調整 */
  left: 55px;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}


.line-curve1 {
  position: absolute;
  width: 500px;
  height: 12px;
  top: 2000px;
  left: 30px;
  z-index: 3;
}



.line-curve1 path {
  stroke: white;
  stroke-width: 6;
  stroke-linecap: round;
  fill: none;
}

/* ここから地図ーーーーーーーーーーーーーーーー */

.map {
  position: absolute;
  top: 3000;  /* 中央に配置 */
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;   /* 適度なサイズ */
  height: auto;
  z-index: 2;     /* 他の画像より前に出す */
}


.map img {
  width: 100%;
  height: auto;
  display: block;            /* 隙間対策（imgはinline要素なので） */
}

/* ポイント------------------------------------------------- */
.point {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 26.1%;               /* 地図内のY方向位置（調整可能） */
  left: 68%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}

.point1 {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 54%;               /* 地図内のY方向位置（調整可能） */
  left: 62%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point1 circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}


.point2 {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 64.1%;               /* 地図内のY方向位置（調整可能） */
  left: 59%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point2 circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}

.point3 {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 63.8%;               /* 地図内のY方向位置（調整可能） */
  left: 55.8%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point3 circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}

.point4 {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 65.5%;               /* 地図内のY方向位置（調整可能） */
  left: 48.5%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point4 circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}

.point5 {
  position: absolute;
  width: 3%;              /* 地図サイズに対する相対サイズ */
  aspect-ratio: 1;
  top: 69%;               /* 地図内のY方向位置（調整可能） */
  left: 28%;              /* 地図内のX方向位置（調整可能） */
  transform: translate(-50%, -50%);
  z-index: 5;
}

.point5 circle {
  fill: white;
  stroke: #181818;
  stroke-width: 0.5;
  stroke-linecap: round;
}

/* ここから地図のライン ----------------------------------------------------------*/
.line {
    position: absolute;
  width: 20%;
  height: auto;       /* ← 自動調整 */
 top: 22.5%;
left: 55.5%;
  z-index: 2;
}

.line path {
  stroke: white;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}

.line1 {
  position: absolute;
  width: 20%;
  height: auto;        /* ← 自動調整 */
 top: 48%;
left: 62%;
  z-index: 2;
}

.line1 path {
 stroke-width: 2px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}

.line2 {
  position: absolute;
  width: 20%;
  height: auto;        /* ← 自動調整 */
 top: 57.7%;
left: 56%;
  z-index: 2;
}

.line2 path {
 stroke-width: 2px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}


.line3 {
  position: absolute;
  width: 20%;
  height: auto;        /* ← 自動調整 */
 top: 64%;
left: 58.5%;
  z-index: 2;
}

.line3 path {
 stroke-width: 2px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}

.line4 {
  position: absolute;
  width: 7%;
  height: auto;        /* ← 自動調整 */
 top: 65.3%;
left: 41.5%;
  z-index: 2;
}

.line4 path {
 stroke-width: 2px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}

.line5 {
  position: absolute;
  width: 10%;
  height: auto;        /* ← 自動調整 */
 top: 54.3%;
left: 18%;
  z-index: 2;
}

.line5 path {
 stroke-width: 2.5px;
stroke: #000;
  stroke-linecap: round;
  fill: none;
}


/* ここから地名------------------------------------------ */
.place {
  text-orientation: upright;
  white-space: pre-wrap;

  color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 20%;
  left: 50%;

  height: 500px;
  overflow-y: auto;
  padding: 10px;

  z-index: 2;
}


.place1 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 44%;     /* 上からの位置を調整 */
  right: 7%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place2 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 54%;     /* 上からの位置を調整 */
  right: 8.5%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place3 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 52%;     /* 上からの位置を調整 */
  right: 10%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place4 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 62.5%;     /* 上からの位置を調整 */
  right: 14%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place5 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 76.5%;     /* 上からの位置を調整 */
  left: 37%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place6 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 49%;     /* 上からの位置を調整 */
  left: 12%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.place7 {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: clamp(14px, 3vw, 28px);  /* ← ここを修正 */
  font-style: normal;
  font-weight: 400;
  line-height: 178%;

  position: absolute;
  top: 47%;     /* 上からの位置を調整 */
  left: 13%;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}


/* 背景ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.back {
 position: fixed;
  top: 1500%; /* 中央に配置 */
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;   /* 適度なサイズ */
  height: auto;
  z-index: 2;     /* 他の画像より前に出す */
}

.back1 {
  position: fixed;
  top: 1950%; /* 中央に配置 */
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;   /* 適度なサイズ */
  height: auto;
  z-index: 2;     /* 他の画像より前に出す */
}

.back2 {
  position: fixed;
  top: 2450%;  /* 中央に配置 */
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;   /* 適度なサイズ */
  height: auto;
  z-index: 2;     /* 他の画像より前に出す */
}


.back3 {
  position: fixed;
  top: 2970%;  /* 中央に配置 */
  left: 50%;
  right: 0%;
  transform: translate(-50%, -50%);
  width: 100vw;   /* 適度なサイズ */
  height: auto;
  z-index: 2;     /* 他の画像より前に出す */
}







/* ここから03ーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.text-line5 {
  text-orientation: upright;
  white-space: pre-wrap;
font-family: "Noto Sans JP";
  color: #FFF;
  font-size: 50px;
  font-weight: 400;
  line-height: 40px;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
  

  position: absolute;
  top:  950%;    /* 上からの位置を調整 */
  left: 55px;    /* ← 右端に固定 */

  height: 500px;       /* ← 縦の幅 */
  overflow-y: auto;    /* ← 縦に長ければスクロール */
  padding: 10px;

  z-index: 2;
}

.line-curve2 {
  position: absolute;
  width: 100%;
  height: 12px;
  top: 980%;
   left: -450px;
  z-index: 3;
}

.text {
 white-space: pre-wrap;
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;

  line-height: 1.4; /* ← 行間を詰める（1.0〜1.4がおすすめ） */

  position: absolute;
  top: 1050%;
  left: 50%; /* 中央揃えにするため */
  transform: translateX(-50%); /* 横方向の中央に補正 */
  width: 90%; /* 任意。中央揃えの範囲を調整 */
  
  height: auto;
  overflow-y: auto;
  padding: 10px;
  z-index: 5;
}





body{
  overflow-x: hidden;
}