.top-visual {
    position: relative;
    width: 100%;
    height: auto; /* ← 高さを自動調整に */
  }


.bg-image {
  width: 100%;
  height: auto; /* 高さは画像の比率で自動調整 */
}


/* ボタンコンテナ（右上） */
.button-container {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  gap: 0px;
  z-index: 3;
}



.triangle-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 130px;
  cursor: pointer;
  text-decoration: none;
}



.triangle-button svg path {
  transition: fill 0.3s, stroke 0.3s;
}

.triangle-button:hover svg path {
  fill: #f0e68c;
  stroke: #333;
}

.triangle-text {
  position: absolute;
  top: 30%;
  left: 75%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: black;
  font-weight: bold;
}


.triangle-button svg {
  width: 100%;
  height: 100%;
  display: block;
}


.text-line {
  text-orientation: upright;
  white-space: pre-wrap;

 color: #000;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #000;
font-family: "SeoulNamsan CL";
font-size: 64px;
font-style: normal;
font-weight: 400;
line-height: 250%; /* 160px */
  
  

  position: absolute;
  top: -10%;     /* 上からの位置を調整 */
  left: -900%;    /* ← 右端に固定 */

  padding: 10px;

  z-index: 2;
}

.line {
  position: absolute;
  width: 100%;
  height: 7px;
  flex-shrink: 0;
  top: 180px;       /* ← 数値に単位(pxなど)を忘れずに！ */
  left: -30%;       /* ← 左にずらす場合 */
  z-index: 3;
}

.line path {
  stroke: black;
  stroke-width: 8px;
  stroke-linecap: round;
  fill: none;
}


.rules-background {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* 要素の幅・高さの半分ずらす */
  
  width: 390px;
  height: 699px;
  background: #D9D9D9;
  border-radius: 52px;
  border: 1px solid black;
  z-index: 10; /* 必要に応じて前面に */
}


.rules-background1 {
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%); /* 要素の幅・高さの半分ずらす */
  
  width: 390px;
  height: 699px;
  background: #D9D9D9;
  border-radius: 52px;
  border: 1px solid black;
  z-index: 10; /* 必要に応じて前面に */
}

.rules-background2 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%); /* 要素の幅・高さの半分ずらす */
  
  width: 390px;
  height: 699px;
  background: #D9D9D9;
  border-radius: 52px;
  border: 1px solid black;
  z-index: 10; /* 必要に応じて前面に */
}


body{
  overflow-x: hidden;
}